graft src

prune .github

prune data
prune examples
prune scripts
prune temp
prune tests

include LICENSE
include LICENSE.Triangle
include README.md
include AUTHORS.md
include CHANGELOG.md
include requirements.txt

exclude requirements-dev.txt
exclude pytest.ini .bumpversion.cfg .editorconfig
exclude tasks.py
exclude CONTRIBUTING.md

global-exclude *.py[cod] __pycache__ *.dylib *.nb[ic] .DS_Store
